---
import { Image } from '@astrojs/image/components';
import BoxTitle from '@components/BoxTitle.astro';
import { topAlbums } from '@lib/fetches/topAlbums';

const albums = await topAlbums(3);
---

<div class='box overflow-hidden text-center flex items-stretch flex-col h-full'>
  <BoxTitle>Albums I'm listening to</BoxTitle>
  <div class='flex items-end mt-4'>
    <div class='relative aspect-square'>
      <Image
        class='select-none pointer-events-none overflow-hidden object-cover rounded-lg translate-x-2 shadow-2xl'
        src={albums[1].image}
        alt={albums[1].name}
        height={200}
        width={200}
        alt={albums[1].name}
      />
    </div>
    <div class='relative aspect-square basis-[125%]'>
      <Image
        class='select-none pointer-events-none overflow-hidden object-cover rounded-lg shadow-2xl relative z-10'
        src={albums[0].image}
        alt={albums[0].name}
        height={200}
        width={200}
        alt={albums[0].name}
      />
    </div>
    <div class='relative aspect-square'>
      <Image
        class='select-none pointer-events-none overflow-hidden object-cover rounded-lg -translate-x-2 shadow-2xl'
        src={albums[2].image}
        alt={albums[2].name}
        height={200}
        width={200}
        alt={albums[2].name}
      />
    </div>
  </div>
</div>
